
@import url(https://fonts.googleapis.com/css?family=Expletus+Sans)
$bg-color:  #2E8C03
$text-color:  #ffffff
$text-font: 'Expletus Sans', sans-serif

body
	background-color: $bg-color
	color: $text-color
	font-family: $text-font
	float: none
	max-width: 1200px
	margin: 0 auto
#carousel
	margin: 0 auto
	text-align: center
	height: 300px
	width: 400px
	border-style: solid
	overflow: hidden
	position: relative


	ul
		display: inline
		width: 2000px
		height: 300px
	li
		float: left
		position: relative
		display: block
		background-size: cover
		list-style: none
		img
			display: block
			height: 100%
			width: 100%
	